* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    margin:0 0 30px; 
}

form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 20px;
}

.helper-text{
    text-align:center;
    margin: 8px;
}

.form-container {
    flex: 1 0 100%;
    max-width: 500px; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1e1e2f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3b3b4f;
}

#user-button {
    display: inline-block; 
    margin: 4px 0 16px auto; 
    padding: 10px 15px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#user-button:hover {
    background: #dddde2;
}

#user-info{
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #efefef; 
}

/* Toggle Button */
#toggle-completed {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 10;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #e8e7ee;
    cursor: pointer;
    }

#toggle-completed:hover {
    background: #f0f0f0;
    }

#toggle-completed.complete {
    background-color: #a9a9a9;
    }