* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.forgot-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 500px;
    min-height: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    text-align: center;
}

.logo-section {
    margin-bottom: 20px;
}

.books-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.book {
    width: 10px;
    height: 30px;
    border-radius: 2px;
    margin: 0 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

.book:nth-child(1) {
    background-color: #4CAF50;
    transform: rotate(-5deg);
    border: 1px solid #388E3C; 
}

.book:nth-child(2) {
    background-color: #e91e63;
    transform: rotate(3deg);
    border: 1px solid #C2185B; 
}

.book:nth-child(3) {
    background-color: #2196f3;
    transform: rotate(8deg);
    border: 1px solid #1976D2; 
}


.welcome-text {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #777;
}

form {
    margin-top: 20px;
}

.form-group {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 80px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.auth-button.reset-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button.reset-btn:hover {
    background-color: #45a049;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.footer-link {
    color: #007BFF;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}
