<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/import_book.css') }}">

    <title>Browse page</title>
</head>
<body>
    <div class="browse-page">
        {% include "nav.html" %}

        <div class = "top-bars">
            <!--Filter bar content-->
            <h1 class="spacing"> Search for books </h1>
            <p class="spacing"> Search the OpenLibrary database to quickly add to dashboard or click the 
                <a href="{{ url_for('main.uploadbook') }}" class="text-link">"Add Book"</a> 
                 button to manually add titles to your collection</p>
            <div class="filter-bar">
                <input type="text" placeholder="Search all books by title, author or ISBN..." class="search-input">
                <button id="clear-search" class="clear-search-btn" style="display: none;">&times;</button>
                <div class="custom-select-wrapper">
                    <select id = "sort-select">
                        <option value="relevance">Relevance</option>
                        <option value="new">Newest</option>
                        <option value="old">Oldest</option>
                    </select>
                </div>
            </div>
            <a href="{{ url_for('main.uploadbook') }}"><button class ="add-book-btn"> Add book</button></a>
            <p id = "no-matches" style = "display: none;"><span class="no-match-text">No matches.</span></p>
        </div>

        <!--Spinning loading-->
        <div class="loading-container" id="loading-indicator" style="display: none;">
            <div class="spinner"></div>
            <p>Fetching books...</p>
        </div>
    
        <div class="book-list" id="book-results">
            <!-- Book results will be dynamically inserted here -->
        </div>

        <div class="import-box" id = "import-box" style = "display: none;">
            <!-- Import form -->
            <h2>Import a book</h2>
            <p>Can not find the book? Manually import a book into the database.</p>
        
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.title.label }} {{ form.title() }}
                {{ form.author.label }} {{ form.author() }}
                {{ form.genres.label }} {{ form.genres() }}
                {{ form.description.label }} {{ form.description() }}
                {{ form.number_of_pages.label }} {{ form.number_of_pages() }}
                <div class="form-submit">
                    {{ form.submit() }}
                </div>
              </form>              
        </div>
    </div>

    <div id="modals" class="modals" style="display: none;">
        <!-- Modal for adding number of pages -->
        <div class="modal">
          <h3>Enter Number of Pages</h3>
          <input type="number" id="pageInput" placeholder="e.g. 250" min="1">
          <div class="modal-buttons">
            <button id="confirmAddButton">Add</button>
            <button id="cancelAddButton">Cancel</button>
          </div>
        </div>
    </div>
</body>

  <!-- Scripts -->
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

</html>