<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Book</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/uploadbook.css') }}">
</head>
<body>
  {% include "nav.html" %}

  <div class="form-container" style="margin: 120px auto 0;">

    <form method="POST" action="{{ url_for('main.uploadbook') }}">

      <h1>Upload a Book</h1>

      <p class="helper-text">Can’t find the book? Add it manually below!</p>

      {{ form.hidden_tag() }}
      {{ form.title.label }} {{ form.title() }}
      {{ form.author.label }} {{ form.author() }}
      {{ form.genres.label }} {{ form.genres() }}
      {{ form.description.label }} {{ form.description() }}
      {{ form.number_of_pages.label }} {{ form.number_of_pages() }}
    
      <button type="button" id = "user-button" onclick="toggleUserInfo(this)">
        Add User Info (Optional) ▼
      </button>
    
      <div id="user-info" style="display: none; margin-top: 20px;">
        {{ form.rating.label }} {{ form.rating() }}
        {{ form.notes.label }} {{ form.notes() }}
        {{ form.completed(type="hidden", id="completed-field") }}
    
      {{ form.submit() }}
    </form>
  </div>
  <script>
    function toggleUserInfo(btn){
        const box  = document.getElementById('user-info');
        const open = box.style.display !== 'block';
  
        box.style.display = open ? 'block' : 'none';
        btn.innerText     = open 
            ? 'Hide User Info ▲' 
            : 'Add User Info (Optional) ▼';
    }
  </script>
</body>
</html>
